/* || GENERAL STYLES */
:root {
    --primary-color: #60838d;
    --secondary-color:#e4e7e8;
    --accent-color: #214359;
    --dark-color: #364c56;
    /* --fs-100: cards text, footer, searchbar,  */
    --fs-200: 1.8rem;
    --fs-300: 2.3rem; /* labels of the data */
    /* --fs-400: titles of sections */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: var(--fs-300);
    overflow-x: hidden;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    list-style: none;
    display: inline-block;
}

.selected {
    font-weight: bold;
}

.btn {
    padding: 1.5rem 5.5rem;
    border-radius: 40px;
    color: var(--secondary-color);
    font-size: var(--fs-300);
    font-style: none;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-dark {
    background-color: var(--dark-color);
}