/* || HERO IMG SECTION */
.hero-section {
    color: var(--secondary-color);
    position: relative;
    width: 100vw;
    height: 120vh;
    padding: 0 13%;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

/* HEADER */
header {
    z-index: 2;
    color: var(--secondary-color);
    padding: 2.5rem 13%;    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.header-logo {
    width: 25rem;
}

/* || MAIN NAV */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-nav-links {
    display: flex;
    gap: 5rem;
}

.main-nav-link {
    font-size: var(--fs-200);
}

/* || END OF MAIN NAV */

.vertical-line {
    font-weight: 100;
}

.search-bar {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    height: 4.5rem;
    width: 20rem;
    padding: 0 1.5rem;
    outline: none;
    color: var(--secondary-color);
    font-size: var(--fs-200);
}

.search-bar::placeholder {
    color: var(--secondary-color);
    font-size: var(--fs-200);
}

.hero-content {
    position: absolute;
    top: 27%;
}

.hero-title {
    letter-spacing: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.hero-title-sm {
    font-size: 140%;
}

.hero-title-md {
    font-size: 170%;
}

.hero-title-lg {
    font-size: 240%;
}

.hero-description {
    width: 55%;
    line-height: 3.5rem;
    margin: 5rem 0;
    font-size: var(--fs-300);
}

/* || MISSION SECTION */
.mission-section {
    padding: 8rem 0;
}

.mission-split {
    display: flex;
    gap: 5rem;
}

.mission-right-content {
    width: 70%;
} 

.mission-title {
    line-height: 5rem;
}

.mission-description {
    margin: 4rem 0;
    line-height: 3rem;
}

.mission-btn {
    font-size: var(--fs-200);
}

/* || ENGAGEMENT DATA SECTION */
.data-title {
    text-align: center;
    padding: 4rem 0;
}

.data-container {
    background-color: #e7eced;
    color: var(--accent-color);
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.data-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.data-number {
    font-size: var(--fs-2xl);
}

/* || CARDS SECTION */
.cards-section {
    padding: 15rem 20rem 8rem 20rem;
    display: flex;
    flex-direction: column;
    gap: 17rem;
}

.small-cards-container {
    display: flex;
    gap: 5.75rem;
}

.large-cards-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.card {
    color: var(--secondary-color);
    background-color: #60838d;
    background: linear-gradient(#60838d, #789fa8);
    font-size: var(--fs-200);
    border-radius: 10px;
}

.card-sm {
    width: 100%;
    padding: 3rem 4.5rem;
}

.card-sm .card-description {
    max-width: 65%;
}

.card-lg {
    padding: 4.5rem 5.5rem 8rem 5.5rem;
}

.card-lg .card-description {
    max-width: 30%;
}

.card-title {
    font-size: var(--fs-300);
    font-size: 3.5rem;
    font-weight: var(--fs-500);
}

.card-btn {
    font-size: var(--fs-200);
    flex-shrink: 0;
}

.card-flex-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

/* || FOOTER */
footer {
    font-size: var(--fs-200);
    padding: 5rem 20rem 0 20rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}

footer h4 {
    color: var(--accent-color);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.copyright {
    font-size: var(--fs-300);
    color: #e0e0e0;
}

.footer-logo {
    max-width: 70%;
}

.footer-center-content {
    max-width: 80%;
}

.footer-nav-links {
    display: flex;
    justify-content: space-between;
}

.footer-nav-link {
    color: var(--accent-color);
}

.gbl-container {
    margin: 5rem 0;
}

.gbl-description {
    line-height: 3rem;
    margin-top: 1rem;
}

.footer-right {
    flex-shrink: 0;
}

.footer-right-content {
    margin-bottom: 65%;
}

.footer-email {
    display: block;
    margin-top: 1.25rem;
}

.gbl-description,
.footer-email {
    color: #b6b6b6;
}