<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../css/general-styles.css">
    <!-- About Us Styles -->
    <link rel="stylesheet" href="../css/about.css">
    <title>Global LI | Home</title>
</head>
<body>
    <div class="container">

        <!-- HERO IMAGE SECTION -->
        <section class="hero-section">

            <!-- HEADER -->
            <header>
                <div class="logo-container">
                    <img src="../img/global-li-logo.png" alt="Global LI logo" class="header-logo">
                </div> 
                <span class="vertical-line">|</span>
                <nav class="main-nav">
                    <ul class="main-nav-links">
                        <li><a href="../index.html" class="main-nav-link selected">HOME</a></li>
                        <li><a href="./about.html" class="main-nav-link">ABOUT US</a></li>
                        <li><a href="" class="main-nav-link">FOREIGN DIRECT INVESTMENTS</a></li>
                        <li><a href="" class="main-nav-link">EXPORTS</a></li>
                        <li><a href="" class="main-nav-link">CONTACT US</a></li>
                    </ul>
                </nav>
                <input type="search" class="search-bar" placeholder="Search...">
            </header>

            <div class="hero-content">
                <h1 class="hero-title">About Us</h1>           
            </div>
        </section>

        <!-- MAIN SECTION -->
        <main>

        </main>
    </div>

    <!-- JavaScript -->
    <!-- <script src="../js/navbar.js"></script> -->
</body>
</html>