/* || HERO IMG SECTION */
/* The hero img styles can be found in the hero-img.css file */

/* || HEADER */
/* The header styles can be found in the header.css file */

/* || MAIN SECTION */
main {
    padding: 8rem 15rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    row-gap: 8rem;
}

.grid-row-gap {
    grid-column: 1 / 3;
}

.grid-item-text {
    margin-top: 2.5rem;
    line-height: 2.5rem;
}

.grid-item-2 .grid-item-text {
    margin-top: 5.5rem;
}

.grid-item-list {
    margin-top: 1.5rem;
}

.grid-item-list-item {
    display: block;
    list-style: disc inside;
    font-size: var(--fs-300);
    font-weight: 600;
    position: relative;
    margin: 0.8rem 0 0.8rem 2.5rem;
}

.grid-item-list-item::before {
    content: '';
    border: 0.5rem solid var(--primary-color);
    border-radius: 100%;
    height: 0; 
    width: 0;
    margin-top: 0.7rem;
    margin-left: -2rem;
    position: absolute;
}

.grid-item-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
}

.grid-item-flex-container > * {
    width: 100%;
}

.grid-item-img {
    width: 100%;
}

.team-member-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.team-member-name {
    color: var(--accent-color);
    font-size: var(--fs-300);
}

.team-member-role {
    color: #b8b8b8;
    font-weight: 300;
}

.team-member-description {
    line-height: 2.5rem;
}

/* || FOOTER */
/* Footer styles can be found in the footer.css file */

/* || Responsive */
@media (max-width: 1590px) {
    :root {
        --fs-200: 1.3rem; 
        --fs-300: 1.8rem;
        --fs-500: 2.5rem;
        --fs-2xl: 5.5rem;
    }

    .grid-item-text {
        line-height: 2rem;
    }

    .team-member-description {
        line-height: 2rem;
    }
}

@media (max-width: 1366px) {
    /* || MAIN SECTION */
    .grid {
        column-gap: 6rem;
        row-gap: 6rem;
    }

    .grid-item-text {
        margin-top: 2rem;
        line-height: 2rem;
    }

    .grid-item-2 .grid-item-text {
        margin-top: 4rem;
    }

    .grid-item-list {
        margin-top: 1rem; 
    }

    .grid-item-list-item {
        font-size: 1.5rem;
    }

    .grid-item-list-item::before {
        margin-top: 0.4rem;
        border-width: 0.4rem;
    }
}