/* || HERO IMG SECTION */
/* The hero img styles can be found in the hero-img.css file */

/* || HEADER */
/* The header styles can be found in the header.css file */

/* || MAIN SECTION */
main {
    padding: 8rem 15rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    row-gap: 8rem;
}

.grid-row-gap {
    grid-column: 1 / 3;
}

.grid-item-text {
    margin-top: 2.5rem;
    line-height: 2.5rem;
}

.grid-item-2 .grid-item-text {
    margin-top: 5.5rem;
}

.grid-item-list {
    margin-top: 1.5rem;
}

.grid-item-list-item {
    display: block;
    list-style: disc inside;
    font-size: var(--fs-300);
    font-weight: 600;
    position: relative;
    margin: 0.8rem 0 0.8rem 2.5rem;
}

.grid-item-list-item::before {
    content: '';
    border: 0.5rem solid var(--primary-color);
    border-radius: 100%;
    height: 0; 
    width: 0;
    margin-top: 0.7rem;
    margin-left: -2rem;
    position: absolute;
}

.grid-item-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
}

.grid-item-flex-container > * {
    width: 100%;
}

.grid-item-img {
    width: 100%;
}

.team-member-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.team-member-name {
    color: var(--accent-color);
    font-size: var(--fs-300);
}

.team-member-role {
    color: #b8b8b8;
    font-weight: 300;
}

.team-member-description {
    line-height: 2.5rem;
}

/* || FOOTER */
/* Footer styles can be found in the footer.css file */

/* || Responsive */
@media (max-width: 1590px) {
    .grid-item-text {
        line-height: 2rem;
    }

    .team-member-description {
        line-height: 2rem;
    }
}

@media (max-width: 1366px) {
    /* || MAIN SECTION */
    .grid {
        column-gap: 6rem;
        row-gap: 6rem;
    }

    .grid-item-text {
        margin-top: 2rem;
        line-height: 2rem;
    }

    .grid-item-2 .grid-item-text {
        margin-top: 4rem;
    }

    .grid-item-list {
        margin-top: 1rem; 
    }

    .grid-item-list-item {
        font-size: 1.5rem;
    }

    .grid-item-list-item::before {
        margin-top: 0.4rem;
        border-width: 0.4rem;
    }
}

@media (max-width: 1290px) {
    /* || MAIN SECTION */
    main {
        padding: 6rem 9rem;
    }

    .grid-item-text {
        line-height: 1.8rem;
    }

    .grid-item-list-item {
        font-size: var(--fs-200);
    }

    .grid-item-flex-container {
        gap: 2.2rem;
    }

    .team-member-description {
        line-height: 1.7rem;
    }
}

@media (max-width: 980px) {
    /* || MAIN SECTION */
    main {
        padding: 11rem 5rem 7rem 5rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid-row-gap {
        display: none;
    }

    .grid-item-text {
        line-height: 4.8rem;
    }

    .grid-item-list-item::before {
        margin-top: 1rem;
        border-width: 0.8rem;
    }

    .list-2 {
        margin-top: 5rem;
    }

    .grid-item-img {
        height: 100%;
        object-fit: cover;
        border-radius: 18px;
    }

    .team-member-description {
        line-height: 4rem;
        padding-bottom: 3rem;
    }
}

@media (max-width: 760px) {
    /* || MAIN SECTION */
    .team-member-role {
        font-size: 2.5rem;
    }
}

@media (max-width: 680px) {
    /* || MAIN SECTION */
    main {
        padding: 9rem 3.5rem 6rem 3.5rem;
    }

    .grid-item-2 .grid-item-text {
        margin: 0;
    }
}

@media (max-width: 590px) {
    /* || MAIN SECTION */
    .grid {
        row-gap: 0;
        column-gap: 0;
        gap: 6rem;
    }

    .grid-item-text {
        line-height: 4.2rem;
    }

    .grid-item-list-item::before {
        margin-top: 0.5rem;
    }

    .team-member-description {
        line-height: 2.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 560px) {
    /* || MAIN SECTION */
    main {
        padding: 9rem 2rem 6rem 2rem;
    }
}

@media (max-width: 475px) {
    /* || MAIN SECTION */
    main {
        padding: 6rem 2rem;
    }

    .grid {
        gap: 5rem;
    }

    .grid-item-text {
        line-height: 3rem;
    }

    .grid-item-list-item::before {
        margin-top: 0.4rem;
        border-width: 0.5rem;
    }

    .team-member-description {
        font-size: var(--fs-200);
    }
}

@media (max-width: 420px) {
    /* || MAIN SECTION */
    .team-member-role {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    /* || MAIN SECTION */
    .grid-item-text {
        line-height: 2.5rem;
        margin-top: 1rem;
    }

    .list-2 {
        margin-top: 4rem;
    }

    .team-member-role {
        font-size: 1.5rem;
    }

    .team-member-description {
        line-height: 2rem;
    }
}

@media (max-width: 275px) {
    /* || MAIN SECTION */
    main {
        padding: 4rem 1rem;
    }

    .grid {
        gap: 3rem;
    }

    .grid-item-text {
        line-height: 2rem;
        margin-top: 1rem;
    }

    .grid-item-list-item::before {
        margin-top: 0.2rem;
        border-width: 0.4rem;
    }

    .list-2 {
        margin-top: 3rem;
    }

    .team-member-role {
        font-size: var(--fs-200);
    }

    .team-member-description {
        line-height: 1.25rem;
    }
}