/* || HERO IMG SECTION */
.hero-section {
    color: var(--secondary-color);
    position: relative;
    width: 100vw;
    height: 40vh;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hero-img-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(71, 95, 102, 0.294);
}

/* || HEADER */
/* The header styles can be found in the header.css file */

/* || HERO CONTENT */
.hero-content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-title {
    font-weight: 500;
    font-size: var(--fs-700);
}

/* || MAIN SECTION */
main {
    padding: 8rem 27rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    row-gap: 8rem;
}

.grid-row-gap {
    grid-column: 1 / 3;
}

.grid-item-text {
    margin-top: 2.5rem;
    line-height: 2.5rem;
}

.grid-item-2 .grid-item-text {
    margin-top: 5.5rem;
}

.grid-item-list {
    margin-top: 1.5rem;
}

.grid-item-list-item {
    display: block;
    list-style: disc inside;
    font-size: var(--fs-300);
    font-weight: 600;
    position: relative;
    margin-left: 2.5rem;
}

.grid-item-list-item::before {
    content: '';
    border: 0.5rem solid var(--primary-color);
    border-radius: 100%;
    height: 0; 
    width: 0;
    margin-top: 0.7rem;
    margin-left: -2rem;
    position: absolute;
}

.grid-item-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
}

.team-member-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.team-member-name {
    color: var(--accent-color);
    font-size: var(--fs-300);
}

.team-member-role {
    color: #b8b8b8;
    font-weight: 300;
}

.team-member-description {
    line-height: 2.5rem;
}

/* || FOOTER */
/* Footer styles can be found in the footer.css file */