.container {
    position: relative;
}

.container::before {
    content: "";
    background: url(../img/dashboards-background.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 70%;
    width: 100%;
}

/* || MAIN SECTION */
main {
    padding: 0 25rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    text-align: center;
    color: var(--accent-color);
    font-size: var(--fs-700);
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.grid-item-large {
    grid-column: 1 / span 2;
}

.graph-title {
    align-self: flex-start;
}

.grid-item-large > .graph-container {
    height: 65rem;
}

.graph-container {
    height: 35rem;
    width: 100%;
    box-shadow: var(--dashboard-shadow);
}

.graph-description {
    line-height: 2.5rem;
}

/* || RESPONSIVE */
@media (max-width: 1700px) {
    main {
        padding-bottom: 12rem;
    }
}

@media (max-width: 1500px) {
    main {
        padding: 0 20rem 10rem;
    }

    .graph-container {
        height: 30rem;
    }

    .grid-item-large > .graph-container {
        height: 55rem;
    }
}

@media (max-width: 1366px) {
    main {
        padding-bottom: 7rem;
    }

    .graph-description {
        line-height: 2rem;
    }

    .graph-container {
        height: 32rem;
    }

    .grid-item-large > .graph-container {
        height: 52.5rem;
    }
}

@media (max-width: 1200px) {
    main {
        padding-inline: 17rem;
    }

    .graph-container {
        height: 25rem;
    }

    .grid-item-large > .graph-container {
        height: 45rem;
    }

    .graph-description {
        line-height: 1.85rem;
    }
}

@media (max-width: 1100px) {
    .graph-container {
        height: 24rem;
    }

    .grid-item-large > .graph-container {
        height: 39rem;
    }
}

@media (max-width: 1000px) {
    main {
        padding: 0rem 10rem 7rem;
    }
}

@media (max-width: 980px) {
    main {
        padding: 0rem 5rem 7rem;
    }

    .dashboard-grid {
        display: flex;
        flex-direction: column;
    }

    .graph-container {
        height: 45rem;
    }

    .grid-item-large > .graph-container {
        height: 45rem;
    }

    .graph-title {
        margin-bottom: 3rem;
    }

    .graph-description {
        line-height: 5rem;
        margin: 3rem 0;
    }
}

@media (max-width: 680px) {
    main {
        padding: 0 3.5rem 5rem;
    }

    .graph-container {
        max-height: 40rem;
    }

    .grid-item-large > .graph-container {
        height: 40rem;
    }

    .graph-description {
        line-height: 4rem;
    }
}

@media (max-width: 560px) {
    main {
        padding: 0 3rem 5rem;
    }

    .graph-container {
        max-height: 30rem;
    }

    .grid-item-large > .graph-container {
        height: 30rem;
    }

    .graph-title {
        margin-bottom: 1rem;
    }

    .graph-description {
        margin: 1.5rem 0;
        line-height: 3.5rem;
    }
}

@media (max-width: 480px) {
    .graph-container {
        max-height: 25rem;
    }

    .grid-item-large > .graph-container {
        height: 25rem;
    }
}

@media (max-width: 400px) {
    main {
        padding-inline: 2rem;
    }

    .grid-item {
        gap: 1.5rem;
    }

    .graph-container {
        max-height: 20rem;
    }

    .grid-item-large > .graph-container {
        height: 20rem;
    }

    .graph-description {
        line-height: 2.5rem;
    }
}

@media (max-width: 285px) {
    main {
        padding: 0 1rem 3rem;
    }
}
