/* || MAIN SECTION */
main {
    margin-top: 10rem;
    padding: 17rem 28rem;
}

.page-title {
    text-align: center;
    color: var(--accent-color);
    font-size: var(--fs-700);
}

.dashboards-split {
    margin: 15rem 0;
    display: flex;
    gap: 9rem;
}

.dashboard-container {
    box-shadow: var(--dashboard-shadow);
}

.left-dashboard, 
.right-dashboard,
.center-dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.small-dashboard {
    height: 35rem;
    width: 100%;
}

.long-dashboard {
    height: 70rem;
    width: 100%;
}