/* || MAIN SECTION */
main {
    margin-top: 10rem;
    padding: 17rem 28rem;
}

.page-title {
    text-align: center;
}

.dashboards-split {
    margin: 14rem 0;
    display: flex;
    gap: 9rem;
}

.left-dashboard, 
.right-dashboard,
.center-dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.small-dashboard {
    height: 32rem;
    width: 100%;
    /* background-color: grey; */
}

.tableauPlaceholder {
    max-height: 100%;
}

.long-dashboard {
    height: 70rem;
    width: 100%;
    /* background-color: grey; */
}