.dashboard-section {
    height: 130rem;
    cursor: pointer;
}

.dashboard-container {
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.show-dashboard {
    height: 100%;
    width: 70rem;
    overflow: auto;
}