/* || HERO IMG SECTION */
.hero-section {
    color: var(--secondary-color);
    position: relative;
    width: 100vw;
    height: 40vh;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hero-img-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(71, 95, 102, 0.294);
}

/* || HERO CONTENT */
.hero-content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-title {
    font-weight: 500;
    font-size: var(--fs-700);
    text-align: center;
}

/* || RESPONSIVE */
@media (max-width: 980px) {
    .hero-section {
        padding: 6rem 5rem;
    }

    .hero-section::after {
        display: none;
    }
}