/* || MOBILE NAV */
.mobile-nav {
    display: none;
    padding: 6rem 5rem;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
}

.height-change {
    height: 100%;
}

.mobile-logo {
    width: 15rem;
}

.hamburger-menu {
    width: 10rem;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transition: transform 0.3s;
}

.hamburger-menu span {
    display: block;
    background-color: var(--primary-color);
    height: 0.7rem;
    border-radius: 15px;
}

.hamburger-menu.active {
    transform: rotate(90deg);
}

.line-1, 
.line-3 {
    width: 55%;
}

.line-2 {
    width: 100%;
}

/* || COLLAPSABLE NAV */
.collapsable-nav {
    background-color: var(--body-bg-color);
    color: var(--accent-color);
    z-index: 10;
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    padding-top: 25rem;
}

.collapsable-nav.active {
    right: 0;
    width: 88%;
}

.collapsable-nav-line {
    width: 100%;
    margin-bottom: 3rem;
    background-color: var(--secondary-color);
    opacity: 0.5;
}

.collapsable-nav-item {
    display: block;
    padding: 3rem 6rem;
    font-size: var(--fs-300);
}

/* || RESPONSIVE */
@media (max-width: 980px) {
    .mobile-nav {
        display: flex;
    }
}

@media (max-width: 680px) {
    .mobile-nav {
        padding: 4.5rem 3.5rem;
    }

    .mobile-logo {
        width: 13.5rem;
    }

    .hamburger-menu {
        width: 8.5rem;
        gap: 1.1rem;
    }

    .collapsable-nav-item {
        font-size: var(--fs-200);
        padding: 2rem 5rem;
    }
}

@media (max-width: 590px) {
    .collapsable-nav {
        padding-top: 17rem;
    }

    .mobile-logo {
        width: 10rem;
    }

    .hamburger-menu {
        width: 7rem;
        gap: 0.9rem;
    }

    .hamburger-menu span {
        height: 0.5rem;
    }
}

@media (max-width: 560px) {
    .mobile-nav {
        padding: 5rem 2rem;
        gap: 6rem;
    }

    .mobile-logo {
        width: 8rem;
    }

    .hamburger-menu {
        width: 5.5rem;
        gap: 0.75rem;
    }

    .hamburger-menu span {
        height: 0.4rem;
    }
}

@media (max-width: 475px) {
    .collapsable-nav {
        padding-top: 13rem;
    }

    .collapsable-nav-item {
        padding: 1.5rem 3rem;
    }
}

@media (max-width: 420px) {
    .mobile-nav {
        padding: 3rem 2rem;
    }

    .mobile-logo {
        width: 7.5rem;
    }

    .hamburger-menu {
        width: 5rem;
        gap: 0.6rem;
    }
}

@media (max-width: 375px) {
    .hamburger-menu {
        width: 4.2rem;
        gap: 0.6rem;
    }

    .hamburger-menu span {
        height: 0.3rem;
    }

    .collapsable-nav {
        padding-top: 10rem;
    }

    .collapsable-nav-item {
        padding: 1.2rem 2rem;
    }
}

@media (max-width: 275px) {
    .mobile-nav {
        padding: 2rem 1rem;
    }

    .mobile-logo {
        width: 5rem;
    }

    .hamburger-menu {
        width: 3.7rem;
        gap: 0.5rem;
    }
}