/* || MOBILE FOOTER */
.mobile-footer {
    display: none;
}

/* || RESPONSIVE */
@media (max-width: 980px) {
    .mobile-footer {
        padding: 10rem 5rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    .footer-description {
        line-height: 5rem;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footer-line {
        background-color: var(--primary-color);
        height: 2.75px;
    }

    .mobile-copyright {
        text-align: center;
        font-size: var(--fs-300);
    }
}

@media (max-width: 680px) {
    .mobile-footer {
        padding: 8rem 3.5rem 5rem 3.5rem;
    }

    .mobile-copyright {
        font-size: var(--fs-200);
    }
}

@media (max-width: 560px) {
    .mobile-footer {
        padding: 5rem 2rem 3rem 2rem;
        gap: 6rem;
    }

    .footer-description {
        line-height: 3.5rem;
    }

    .footer-links {
        gap: 2rem;
    }
}

@media (max-width: 375px) {
    .mobile-footer {
        gap: 3rem;
    }

    .footer-description {
        line-height: 3rem;
    }

    .footer-links {
        gap: 1.5rem;
    }

    .footer-line {
        height: 0.2rem;
    }
}

@media (max-width: 275px) {
    .footer-description {
        line-height: 2rem;
    }

    .footer-links {
        gap: 1rem;
    }
}
