/* || MOBILE NAV */
.mobile-nav {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mobile-logo {
    width: 15rem;
}

.hamburger-menu {
    width: 10rem;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.hamburger-menu span {
    display: block;
    background-color: var(--secondary-color);
    height: 0.7rem;
    border-radius: 15px;
}

.hamburger-menu span.active {
    background-color: var(--accent-color);
}

.line-1, 
.line-3 {
    width: 55%;
}

.line-2 {
    width: 100%;
}

/* || COLLAPSABLE NAV */
.collapsable-nav {
    background-color: var(--body-bg-color);
    color: var(--accent-color);
    z-index: 10;
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    width: 88%;
    padding-top: 25rem;
    transition: all 0.4s;
}

.collapsable-nav.active {
    right: 0;
}

.collapsable-nav-line {
    width: 100%;
    margin-bottom: 3rem;
    background-color: var(--secondary-color);
    opacity: 0.5;
}

.collapsable-nav-item {
    display: block;
    padding: 3rem 6rem;
    font-size: var(--fs-300);
}

/* || RESPONSIVE */
@media (max-width: 980px) {
    .mobile-nav {
        display: flex;
    }
}