<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../static/css/general-styles.css">
    <!-- About Us Styles -->
    <link rel="stylesheet" href="../static/css/about.css">
    <title>Global LI | About Us</title>
</head>
<body>
    <div class="container">

        <!-- MOBILE NAV -->
        {% include './mobile-nav.html' %}

        <!-- HEADER AND NAVIGATION -->
        {% include './header.html' %}

        <!-- MAIN SECTION -->
        <main>
            <!-- TITLE -->
            <h1 class="page-title">About Us</h1>

            <!-- SPLIT -->
            <div class="split">
                <div class="split-left">
                    <h2 class="title">What is Global Long Island?</h2>
                    <p class="section-text split-text">Global Long Island (LI) is an initiative to measure and enhance the international engagement of Lons Island. International engagement has a substantial and dramatic impact on all aspects of our economy. The level of international engagement involves two main activities:</p>
                    <ul class="list">
                        <li class="list-item">Attracting Foreign Direct Investment (FDI)</li>
                        <li class="list-item">Promoting Exports</li>
                    </ul>
                </div>
                <div class="split-right">
                    <h2 class="title">FDI and Exporting</h2>
                    <p class="section-text split-text">Both FDI and exporting are important internaional business activities: they lead to job creation, foster economic growth, and enhanve global competitibeness of the region. Hence attracting FDI and promoting exports is an acute regional need.</p>
                </div>
            </div>

            <!-- MISSSION -->
            <div class="mission-container">
                <h2 class="title mission-title">Our Mission</h2>
                <p class="mission-text section-text">Integrating international engagement into a region's economic development strategy requires a clear understanding of the significance and magnitude of FDI and exports within the regional economies, as well as their potential to crontribute to the community and internationally engaged companies. Global LI works to evaluate the global competitiveness and international engagement of Long Island and to determinie the region's international engagement readiness, capability, and commitment.</p>
            </div>

            <!-- GRID -->
            <div class="grid">
                <div class="grid-item-1">
                    <h2 class="title">Meet the Team</h2>
                    <p class="section-text team-text">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic Development Council Manufacruting and Industry work group, Global LI will offer an assessment for Long Island to demonstrate:</p>
                    <ul class="list grid-item-list list-2">
                        <li class="list-item grid-item-list-item">FDI Profile and Trends</li>
                        <li class="list-item grid-item-list-item">Exports Data and Analysis</li>
                    </ul>
                </div>
                <div class="grid-item-2">
                    <div class="grid-item-flex-container">
                        <div class="grid-item-img-container"><img src="../static/img/team-member.png" alt="" class="grid-item-img"></div>
                        <div class="team-member-info">
                            <h3 class="team-member-name">Dr. J. Betty Feng</h3>
                            <h4 class="team-member-role">ASSISTANT PROFESSOR</h4>
                            <p class="team-member-description">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item-3">
                    <div class="grid-item-flex-container">
                        <div class="grid-item-img-container"><img src="../static/img/team-member.png" alt="" class="grid-item-img"></div>
                        <div class="team-member-info">
                            <h3 class="team-member-name">Carol Sung</h3>
                            <h4 class="team-member-role">ASSISTANT PROFESSOR</h4>
                            <p class="team-member-description">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item-4">
                    <div class="grid-item-flex-container">
                        <div class="grid-item-img-container"><img src="../static/img/team-member.png" alt="" class="grid-item-img"></div>
                        <div class="team-member-info">
                            <h3 class="team-member-name">Carlos Duque Rivera</h3>
                            <h4 class="team-member-role">Web Developer</h4>
                            <p class="team-member-description">Computer programming student and aspiring software engineer. I worked with Dr. Feng in the creation of Global LI's website. Take a look at all my projects in my portfolio site by <a class="portfolio-site-link" href="https://github.com/CDDR1" target="_blank">clicking here</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- FOOTER -->
        {% include './footer.html' %}

        <!-- MOBILE FOOTER -->
        {% include './mobile-footer.html' %}

    </div>
</body>
</html>