<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../static/css/general-styles.css">
    <!-- About Us Styles -->
    <link rel="stylesheet" href="../static/css/about.css">
    <title>Global LI | Home</title>
</head>
<body>
    <div class="container">

        <!-- HERO IMAGE SECTION -->
        {% include './hero-img.html' %}

        <!-- MAIN SECTION -->
        <main>
            <div class="grid">
                <div class="grid-item-1">
                    <h2 class="grid-item-title">What is Global Long Island?</h2>
                    <p class="grid-item-text">Global Long Island (LI) is an initiative to measure and enhance the international engagement of Lons Island. International engagement has a substantial and dramatic impact on all aspects of our economy.</p>
                </div>
                <div class="grid-item-2">
                    <p class="grid-item-text">The level of international engagement involves two main activities:</p>
                    <ul class="grid-item-list">
                        <li class="grid-item-list-item">Attracting Foreign Direct Investment (FDI)</li>
                        <li class="grid-item-list-item">Promoting Exports</li>
                    </ul>
                </div>
                <div class="grid-row-gap"></div>
                <div class="grid-item-3">
                    <h2 class="grit-item-title">Our Mission</h2>
                    <p class="grid-item-text">Integrating international engagement into a region's economic development strategy requires a clear understanding of the significance and magnitude of FDI and exports within the regional economies, as well as their potential to crontribute to the community and internationally engaged companies. Global LI works to evaluate the global competitiveness and international engagement of Long Island and to determinie the region's international engagement readiness, capability, and commitment.</p>
                </div>
                <div class="grid-item-4">
                    <h2 class="grid-item-title">FDI and Exporting</h2>
                    <p class="grid-item-text">Both FDI and exporting are important internaional business activities: they lead to job creation, foster economic growth, and enhanve global competitibeness of the region. Hence attracting FDI and promoting exports is an acute regional need.</p>
                </div>
                <div class="grid-row-gap"></div>
                <div class="grid-item-5">
                    <h2 class="grid-item-title">Meet the Team</h2>
                    <p class="grid-item-text">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic Development Council Manufacruting and Industry work group, Global LI will offer an assessment for Long Island to demonstrate:</p>
                    <ul class="grid-item-list">
                        <li class="grid-item-list-item">FDI Profile and Trends</li>
                        <li class="grid-item-list-item">Exports Data and Analysis</li>
                    </ul>
                </div>
                <div class="grid-item-6">
                    <div class="grid-item-flex-container">
                        <div class="grid-item-img-container"><img src="../static/img/team-member.png" alt="" class="grid-item-img"></div>
                        <div class="team-member-info">
                            <h3 class="team-member-name">Dr. J. Betty Feng</h3>
                            <h4 class="team-member-role">ASSISTANT PROFESSOR</h4>
                            <p class="team-member-description">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item-7">
                    <div class="grid-item-flex-container">
                        <div class="grid-item-img-container"><img src="../static/img/team-member.png" alt="" class="grid-item-img"></div>
                        <div class="team-member-info">
                            <h3 class="team-member-name">Carol Sung</h3>
                            <h4 class="team-member-role">ASSISTANT PROFESSOR</h4>
                            <p class="team-member-description">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic</p>
                        </div>
                    </div>
                </div>
                <div class="grid-item-8">
                    <div class="grid-item-flex-container">
                        <div class="grid-item-img-container"><img src="../static/img/team-member.png" alt="" class="grid-item-img"></div>
                        <div class="team-member-info">
                            <h3 class="team-member-name">Carlos Duque Rivera</h3>
                            <h4 class="team-member-role">ASSISTANT PROFESSOR</h4>
                            <p class="team-member-description">Lead by Dr. J. Betty Feng, Assistant Professor of Department of Business Management at Farmingdale State College, partnering with the LI Regional Economic</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        {% include './footer.html' %}
        
    </div>
</body>
</html>