<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../static/css/general-styles.css">
    <!-- Foreign Direct Investments Styles -->
    <link rel="stylesheet" href="../static/css/dashboards.css">
    <title>Global LI | Exports</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <!-- Tableau JS API -->
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
</head>

<body>
    <div class="container">

        <!-- MOBILE NAV -->
        {% include './mobile-nav.html' %}

        <!-- HEADER -->
        {% include './header.html' %}

        <!-- MAIN SECTION -->
        <main>
            <h1 class="page-title">Exports</h1>
            <!-- GRID -->
            <div class="dashboard-grid">
                <!-- This is the structure of the HTML elements that will be created to 
                add the graphs from the API -->

                <!-- <div class="grid-item">
                    <h2 class="graph-title">THE GRAPH TITLE WILL GO HERE</h2>
                    <div class="graph-container">THIS <div> WILL CONTAIN THE GRAPH</div>
                    <p class="graph-description">THE GRAPH DESCRIPTION GOES HERE</p>
                </div> -->
            </div>
        </main>

        <!-- FOOTER -->
        {% include './footer.html' %}

        <!-- MOBILE FOOTER -->
        {% include './mobile-footer.html' %}

    </div>

    <!-- JavaScript -->
    <script src="../static/js/fetch-page-2.js"></script>
</body>

</html>