<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../static/css/general-styles.css">
    <!-- Foreign Direct Investments Styles -->
    <link rel="stylesheet" href="../static/css/dashboards.css">
    <title>Global LI | Foreign Direct Investments</title>
    <!-- Tableau JS API -->
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
</head>
<body>
    <div class="container">

        <!-- MOBILE NAV -->
        {% include './mobile-nav.html' %}

        <!-- HEADER -->
        {% include './header.html' %}

        <!-- MAIN SECTION -->
        <main>
            <h1 class="page-title">FDI Investments</h1>
            <div class="dashboards-split">
                <div class="left-dashboard">
                    <h2 class="dashboard-title">Long Island Engagement</h2>
                    <div class="dashboard-container small-dashboard">
                        <div id="vizContainer1" style="width: 100%; height: 35rem;"></div>
                    </div>
                    <p class="dashboard-description">Global LI works to evaluate the global competitiveness and international engagement of Long Island and to determine the region’s international engagement readiness, capability, and commitment.</p>
                </div>
                <div class="right-dashboard">
                    <h2 class="dashboard-title">Long Island Engagement</h2>
                    <div class="dashboard-container small-dashboard">
                        <div id="vizContainer2" style="width: 100%; height: 35rem"></div>
                    </div>
                    <p class="dashboard-description">Global LI works to evaluate the global competitiveness and international engagement of Long Island and to determine the region’s international engagement readiness, capability, and commitment.</p>
                </div>
            </div>
            <div class="center-dashboard">
                <h2 class="dashboard-title">Long Island Engagement</h2>
                <div class="dashboard-container long-dashboard">
                    <div id="vizContainer3" style="width: 100%; height: 100%;"></div>
                </div>
                <p class="dashboard-description">Global LI works to evaluate the global competitiveness and international engagement of Long Island and to determine the region’s international engagement readiness, capability, and commitment.</p>
            </div>
        </main>

        <!-- FOOTER -->
        {% include './footer.html' %}

        <!-- MOBILE FOOTER -->
        {% include './mobile-footer.html' %}

    </div>

    <!-- JavaScript -->
    <script src="../static/js/init-viz.js"></script>
</body>
</html>