<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../static/css/general-styles.css">
    <!-- Foreign Direct Investments Styles -->
    <link rel="stylesheet" href="../static/css/dashboards.css">
    <title>Global LI | Foreign Direct Investments</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.png">
    <!-- Tableau JS API -->
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
</head>

<body>
    <div class="container">

        <!-- MOBILE NAV -->
        {% include './mobile-nav.html' %}

        <!-- HEADER -->
        {% include './header.html' %}

        <!-- MAIN SECTION -->
        <main>
            <h1 class="page-title">FDI Investments</h1>
            <!-- GRID -->
            <div class="dashboard-grid">
                <!-- <div class="grid-item">
                    <h2 class="graph-title"></h2>
                    <div class="graph-container"></div>
                    <p class="graph-description"></p>
                </div> -->
            </div>
        </main>

        <!-- FOOTER -->
        {% include './footer.html' %}

        <!-- MOBILE FOOTER -->
        {% include './mobile-footer.html' %}

    </div>

    <!-- JavaScript -->
    <script src="../static/js/init-viz.js"></script>
</body>

</html>