<!-- HEADER STYLES -->
<link rel="stylesheet" href="../static/css/header.css">

<!-- HEADER -->
<header>
    <nav class="main-nav">
        <ul class="main-nav-links">
            <div class="logo-container">
                <img src="../static/img/global-li-logo.svg" alt="Global LI logo" class="header-logo">
            </div> 
            <li><a href="./" class="main-nav-link {{ 'selected' if title == 'Home' }}">HOME</a></li>
            <li><a href="./about" class="main-nav-link {{ 'selected' if title == 'About Us' }}">ABOUT US</a></li>
            <li><a href="./foreign-direct-investments" class="main-nav-link {{ 'selected' if title == 'Foreign Direct Investments' }}">FOREIGN DIRECT INVESTMENTS</a></li>
            <li><a href="./exports" class="main-nav-link {{ 'selected' if title == 'Exports' }}">EXPORTS</a></li>
            <li><a href="./contact" class="main-nav-link {{ 'selected' if title == 'Contact Us' }}">CONTACT US</a></li>
        </ul>
    </nav>
    <input type="search" class="search-bar" placeholder="Search...">
</header>

<!-- JavaScript -->
<script src="../static/js/navbar.js"></script>