<!-- HEADER STYLES -->
<link rel="stylesheet" href="../static/css/header.css">

<!-- HEADER -->
<header>
    <div class="logo-container">
        <img src="../static/img/global-li-logo.png" alt="Global LI logo" class="header-logo">
    </div> 
    <span class="vertical-line">|</span>
    <nav class="main-nav">
        <ul class="main-nav-links">
            <li><a href="./" class="main-nav-link selected">HOME</a></li>
            <li><a href="./about" class="main-nav-link">ABOUT US</a></li>
            <li><a href="./foreigndirectinvestments" class="main-nav-link">FOREIGN DIRECT INVESTMENTS</a></li>
            <li><a href="./exports" class="main-nav-link">EXPORTS</a></li>
            <li><a href="./contact" class="main-nav-link">CONTACT US</a></li>
        </ul>
    </nav>
    <input type="search" class="search-bar" placeholder="Search...">
</header>

<!-- JavaScript -->
<script src="../static/js/navbar.js"></script>