<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- General Styles -->
    <link rel="stylesheet" href="../static/css/general-styles.css">
    <!-- Homepage Styles -->
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Global LI | Home</title>
</head>
<body>
    <div class="container">
        
        <!-- MOBILE NAV -->
        {% include './mobile-nav.html' %}
        
        <!-- HERO IMAGE SECTION -->
        <section class="hero-section">

            <!-- HEADER AND NAVIGATION -->
            {% include './header.html' %}

            <div class="hero-content">
                <h1 class="hero-title">
                    <div class="hero-title-sm">Measuring and Enhancing</div>
                    <div class="hero-title-lg">The International Engagement</div>
                    <div class="hero-title-md">Of Long Island</div>
                </h1>
                <p class="hero-description">Explore how International engagement has a substantial and dramatic impact on all aspects of our economy.</p>
                <a href="" class="btn">Explore More</a>                
            </div>
        </section>

        <!-- MAIN SECTION -->
        <main>
            <!-- MISSION SECTION -->
            <section class="mission-section">
                <div class="mission-content">
                    <h2 class="mission-title">Global Long Island (LI)'s Mission is To Measure and Enhance The International Engagement Of Long Island.</h2>
                    <p class="mission-description">Global LI works to evaluate the global competitiviness of Long Island and to determine the region's international engagement readiness, capability and commitment.</p>
                    <a href="" class="btn btn-primary mission-btn">More About Us</a>
                </div>
            </section>

            <!-- ENGAGEMENT DATA SECTION -->
            <div class="engagement-data-section">
                <h2 class="data-title">Long Island Engagement</h2>
                <div class="data-container">
                    <div class="data-columns-container">
                        <div class="data-column">
                            <span class="data-number">3M</span>
                            <span class="data-label">Long Island Residents</span>
                        </div>
                        <div class="data-column">
                            <span class="data-number">189+</span>
                            <span class="data-label">Data Collected</span>
                        </div>
                        <div class="data-column">
                            <span class="data-number">61K</span>
                            <span class="data-label">Employment Opportunities</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARDS SECTION -->
            <section class="cards-section">
                <div class="card card-1">
                    <h3 class="card-title">FDI Profile and Trends</h3>
                    <p class="card-text">Explore Foreign Direct Investment employment, by industry, and Long Island's top 10 investors.</p>
                    <a href="/foreign-direct-investments" class="btn btn-dark card-btn">Explore Now</a>
                </div>
                <div class="card card-2">
                    <h3 class="card-title">Exports Data and Analysis</h3>
                    <p class="card-text">Explore Nassau and Suffolk's 2017 exports by industries.</p>
                    <a href="/exports" class="btn btn-dark card-btn">Explore Now</a>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        {% include './footer.html' %}

        <!-- MOBILE FOOTER -->
        {% include './mobile-footer.html' %}
        
    </div>
</body>
</html>