<!-- MOBILE NAV STYLES -->
<link rel="stylesheet" href="../static/css/mobile-nav.css">

<!-- MOBILE NAV -->
<nav class="mobile-nav">
    <div class="logo-container">
        <img src="../static/img/mobile-logo.svg" alt="Global LI logo" class="mobile-logo">
    </div> 
    <div class="hamburger-menu">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
    </div>

    <!-- COLLAPSABLE NAV -->
    <ul class="collapsable-nav">
        <hr class="collapsable-nav-line">
        <li class="collapsable-nav-item"><a href="./" class="collapsable-nav-link {{ 'selected' if title == 'Home' }}">Home</a></li>
        <li class="collapsable-nav-item"><a href="./about" class="collapsable-nav-link {{ 'selected' if title == 'About Us' }}">About Us</a></li>
        <li class="collapsable-nav-item"><a href="./foreign-direct-investments" class="collapsable-nav-link {{ 'selected' if title == 'Foreign Direct Investments' }}">Foreign Direct Investments</a></li>
        <li class="collapsable-nav-item"><a href="./exports" class="collapsable-nav-link {{ 'selected' if title == 'Exports' }}">Exports</a></li>
        <li class="collapsable-nav-item"><a href="./contact" class="collapsable-nav-link {{ 'selected' if title == 'Contact Us' }}">Contact</a></li>
    </ul>
</nav>

<!-- JavaScript -->
<script src="../static/js/collapsable-nav.js"></script>