<footer class="mobile-footer">
    <div class="logo-container">
        <img src="../static/img/mobile-logo.png" alt="Global LI mobile logo" class="mobile-logo">
    </div>
    <p class="footer-description">Global LI works to evaluate the global competitiveness and international engagement of Long Island and to determine the region's international engagment readiness, capability, and commitment.</p>
    <ul class="footer-links">
        <li><a href="./" class="footer-link">Home</a></li>
        <li><a href="./about" class="footer-link">About Us</a></li>
        <li><a href="./foreign-direct-investments" class="footer-link">Foreign Direct Investments</a></li>
        <li><a href="./exports" class="footer-link">Exports</a></li>
        <li><a href="./contact" class="footer-link">Contact Us</a></li>
    </ul>
    <hr class="footer-line">
    <span class="mobile-copyright">&#169; 2022</span>
</footer>